#myAccount {
	padding-bottom: 300px;
	box-sizing: content-box;
	min-height: 1200px;
	background: url(../../assets/images/global-bg.png) no-repeat center 0/100% 100%;
	.container {
		margin:0 auto;
		width: 1200px;
		display: flex;

		.sider {
			flex: 0 0 auto;
			width: 385px;
			background: url(../../assets/images/sider-bg.png) no-repeat center/cover border-box;
			border: 28px solid;
			border-image: url(../../assets/images/border.png);
			border-image-slice: 140 49%;
			border-image-width: 140px 150px;
			

			.ant-layout-sider-children {
				display: flex;
				flex-direction: column;
				justify-content: center;
				justify-content: space-between;
				.player-info {
					margin-top: 20px;
					height: 290px;
					border: 50px solid red;
					border-image-source: url(../../assets/images/playerinfo.png);
					border-image-slice: 49% fill;
					border-image-width: 50px;
					border-image-repeat: stretch;
					color: #554C39;
					.player-id {
						margin-top: -20px;
						font-size: 30px;
						font-weight: 800;
	
					}
					.player-mail {
						margin-top: 10px;
						font-weight: 800;
						font-size: 26px;
					}
					.player-btn {
						margin: 40px auto;
						width: 174px;
						height: 80px;
						text-align: center;
						line-height: 70px;
						font-weight: 800;
						font-size: 26px;
						color: #4C4434;
						background: url(../../assets/images/showqr.png) no-repeat center/100% 100%;
						user-select: none;
					}
	
				}
	
				.sider-menu {
					margin: 80px auto 0;
					width: 270px;
					text-align: center;
					line-height: 70px;
					font-size: 30px;
					color: #fff;
	
					.ant-menu-item {
						padding: 0;
						height: 70px;
						margin-bottom: 30px;
						&:active {
							background-color: inherit;
						}
						.ant-menu-title-content {
							a {
								display: block;
								color: #fff;
								&.active {
									background: url(../../assets/images/sider-menu-btn.png) center/100% 100%;
								}
								&::before {
									content: "";
									position: absolute;
									left: 15px;
									top: 0;
									bottom: 0;
									margin-top: auto;
									margin-bottom:auto;
									width: 33px;
									height: 33px;
									background:#90AADB;
									border-radius: 50%;
								}
							}
						}
					}
				}
	
				.rent-account {
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 140px;
					width: 333px;
					height: 139px;
					text-align: center;
					line-height: 120px;
					font-size: 35px;
					font-weight: 800;
					color: #0F5195;
					cursor: pointer;
					background: url(../../assets/images/rent-account.png) no-repeat center/100% 100%;
				}
			}
			
			

		}

		.content {
			flex: 1 1 0;
		}
	}
	
}


.account-modal {
	
	

	// 简单弹框
	&.account-modal-simble {
		margin-top: 30px;
		.ant-modal-content {
			border: 11px solid #839A51!important;
			border-radius: 20px;
			background: #E8DBB8;
			.ant-modal-close {
				position: absolute;
				right: -50px;
				top: -50px;
				margin: 0;
				width: 128px;
				height: 128px;
				background: url(../../assets/images/modal-close.png) no-repeat center / 100% 100%;
				border: none;
				border-radius: 0;
				span {
					display: none;
				}
			}
			.ant-modal-header {
				background: transparent;
				border-bottom: none;
				padding: 0;
				text-align: center;
				.ant-modal-title {
					line-height: 128px;
					font-size: 45px;
					color: #975A16;
					font-weight: 800;
				}
			}
			.ant-modal-footer {
				display: flex;
				justify-content: center;
				padding-bottom: 22px;
				border-top: none;
				.ant-btn {
					&:first-child {
						display: none;
					}
					&:last-child {
						width: 333px;
						height: 139px;
						border: 5px solid;
						background: transparent;
						font-size: 35px;
						font-weight: 800;
						color: #0F5195;
						line-height: 110px;
						border-image-source: url(../../assets/images/asset-btn2.png);
						border-image-slice: 10 16 22 fill;
						border-image-width: 10px 16px 22px;
						display: flex;
						justify-content: center;
						align-items: flex-start;
					}
				}
			}
		}
	}

	// 复杂弹框
	&.account-modal-mutiple {
		.ant-modal-content {
			margin-top: 30px;
			background: #3D3E3D;
			border: 11px solid #839A51!important;
			border-radius: 70px 70px 40px 40px;

			.ant-modal-close {
				position: absolute;
				right: 0px;
				top: -40px;
				margin: 0;
				width: 154px;
				height: 150px;
				background: url(../../assets/images/modal-close.png) no-repeat center / 100% 100%;
				border: none;
				border-radius: 0;
				span {
					display: none;
				}
			}

			.ant-modal-header {
				background-color: transparent;
				border-bottom: none;
				padding: 0;
				
				text-align: center;
				border-bottom: none;
				background: url(../../assets/images/modal-header-bg.png) no-repeat 0 0 / 100% 100%;
				.ant-modal-title {
					height: 128px;
					line-height: 110px;
					font-size: 0px;
					color: #975A16;
					font-weight: 800;
		

				}
				
			}
			.ant-modal-body {
				padding: 0;
				
				.modal-body-body {
					background: #E8DBB8;
				}
				.modal-body-footer {
					height: 214px;
				}
				
				
				
			}
			.ant-modal-footer {
				display: none;
			}
			
		}
	}

	// Rent 弹框 出租界面
	&.account-modal-rent {
		.ant-modal-content {
			

			.ant-modal-header {
				display: none;
			}
			.ant-modal-body {
				padding: 0 60px 0 150px;
				.play-info {
					margin-top: 25px;
					display: flex;
					justify-content: space-between;

					.player-info {
						height: 290px;
						border: 50px solid red;
						border-image-source: url(../../assets/images/playerinfo.png);
						border-image-slice: 49% fill;
						border-image-width: 60px;
						border-image-repeat: stretch;
						color: #554C39;
						.player-id {
							margin-top: -20px;
							font-size: 30px;
							font-weight: 800;
		
						}
						.player-mail {
							margin-top: 10px;
							font-weight: 800;
							font-size: 26px;
						}
						.player-btn {
							margin: 40px auto;
							width: 174px;
							height: 80px;
							text-align: center;
							line-height: 70px;
							font-weight: 800;
							font-size: 26px;
							color: #4C4434;
							background: url(../../assets/images/showqr.png) no-repeat center/100% 100%;
							user-select: none;
						}
		
					}

					.fee-time {
						display: flex;
						flex-direction: column;
						justify-content: center;
						
						.fee-item {
							display: flex;
							margin: 20px 0;
							span {
								width: 110px;
								height: 54px;
								line-height: 54px;
								font-size: 30px;
								font-weight: 800;
								color: #9B601E;
								&.fee-item-item {
									text-align: right;
									margin-right: 10px;
								}
							}	
							input {
								text-align: center;
								color: #fff;
								font-size: 30px;
								font-weight: 800;
								width: 114px;
								height: 54px;
								border: none;
								background: #676F96;
								border-radius: 5px;
								margin-right: 10px;

							}
						}
					}

					
				}
				.pwd-form {
					margin-top: 20px;
					.forget {
						margin-bottom: 10px;
						font-size: 30px;
						font-weight: 800;
						color: #9B601E;
						
					}
					.forget-input {
						margin-bottom: 30px;
						display: block;
						border: none;
						width: 577px;
						height: 67px;
						text-align: center;
						background: #676F96;
						box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.6);
						border-radius: 5px;
						font-size: 30px;
						color: #fff;
						font-weight: 800;
						&::placeholder {
							color: #fff;
						}
					}
				}

			}
			.ant-modal-footer {
				padding-left: 120px;
				padding-right: 120px;
				justify-content: space-between;
				.ant-btn {
					&:first-child {
						order: 2;
						display: block;
						width: 260px;
						height: 130px;
						border: 5px solid;
						background: transparent;
						font-size: 35px;
						font-weight: 800;
						color: #0F5195;
						line-height: 110px;
						border-image-source: url(../../assets/images/asset-btn2.png);
						border-image-slice: 10 16 22 fill;
						border-image-width: 10px 16px 22px;
						display: flex;
						justify-content: center;
						align-items: flex-start;  
					}
					&:last-child {
						width: 260px;
						height: 130px;
						border: 5px solid;
						background: transparent;
						font-size: 35px;
						font-weight: 800;
						color: #0F5195;
						line-height: 110px;
						border-image-source: url(../../assets/images/asset-btn1.png);
						border-image-slice: 10 16 22 fill;
						border-image-width: 10px 16px 22px;
						display: flex;
						justify-content: center;
						align-items: flex-start;
					}
				
				}
				
			}
		}
		
	}

}