.mountain-fram {
  .header {
    width: 832px;
    height: 188px;
    background: yellow;
    position: relative;
    padding-top: 30px;
    .statistics {
      width: 216px;
      height: 51px;
      background: url("../../../assets/images/mountain/fram-1.png");
      text-align: center;
      position: relative;
      margin-left: -5px;
      span {
        width: 108px;
        height: 19px;
        font-size: 24px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: #4a412f;
        line-height: 46px;
      }
    }
    .statistics-list {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      .item {
        display: flex;
        height: 55px;
        .item-icon {
          width: 55px;
          height: 55px;
          background: #000;
          border-radius: 28px;
          margin-right: 13px;
        }
        .item-content {
          color: red;
          font-weight: bold;
          .value {
            height: 20px;
            font-size: 20px;
          }
          .label {
            margin-top: 5px;
            height: 13px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .content {
    width: 833px;
    height: 1388px;
    background: url("../../../assets/images/mountain/fram-2.png") no-repeat;
    background-size: 833px 1386px;
    .part-first {
      background-image: url("../../../assets/images/mountain/assets01.png");
      background-size: 833px 122px;
      font-size: 44px;
      font-weight: 800;
      color: #ffffff;
      padding-left: 80px;
      height: 122px;
      line-height: 118px;
    }
    .part-second {
      width: 804px;
      height: 284px;
      background-image: url("../../../assets/images/mountain/fram-4.png");
      background-size: 833px 284px;
    }
    .part-third {
      background-image: url("../../../assets/images/mountain/fram-3.png");
      background-size: 833px 122px;
      font-size: 44px;
      font-weight: 800;
      color: #ffffff;
      height: 122px;
      line-height: 118px;
    }
  }
}
