// 两个小圆的混合
@mixin double-circle($width,$height) {
    position: relative;
    width: $width*1.5;
    height: $height;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $height;
        background: #C9702C;
        border-radius: 50%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: $width/2;
        width: $width;
        height: $height;
        background: #70AC48;
        border-radius: 50%;
    }
}

// 标题
@mixin  section-title() {
    margin: 0;
    padding-left: 20px;
    font-size: 2em;
    color: #fff;
    line-height: 1em;
    border-left: 4px solid #4AC66B;
}


#FrontPage {
    padding: 80px 90px;

    header {
        display: flex;
        height: 82px;
        align-items: center;
        .icon {
            @include double-circle(82px,82px);
        }
        .content {
            margin-left: 6px;
            color: #fff;
            h2 {
                color: #fff;
                margin: 0;
                font-size: 1.5em;
            }
            p {
                margin: 0;
            }
        }
    }

    .finished {
        margin-top: 60px;
        a {
            color: #fff;
        }
        .box {
            margin-top: 10px;
            .box-top {
                height: 120px;
                background: #3d3d3d;
                display: flex;
                .icon {
                    margin-left: 20px;
                    margin-top: 20px;
                    @include double-circle(50px, 50px);
                    flex: 0 0 auto;
                }
                .column {
                    flex: 1 1 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    p {
                        text-align: center;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
            .box-bottom {        
                background: #595959;
                display: flex;
                height: 86px;
                align-items: center;
                .column {
                    flex: 1 1 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .avatar {
                        width: 36px;
                        height: 36px;
                        background: #EFEDD7;
                        border-radius: 50%;
                    }
                    .name {
                        color: #fff;
                    }
                }
            }
        }
    }

    .nft {
        margin-top: 60px;
        h2 {
           @include section-title();
        }
        p {
            margin-top: 23px;
            margin-bottom: 0;
            color: #fff;
            text-indent: 2em;
        }
        .ntf-btns {
            margin-top: 37px;
            display: flex;
            justify-content: flex-end;

            .ntf-btn {
                margin-left: 10px;
                padding:0 40px;
                height: 36px;
                border: none;
                color: #fff;
                background: linear-gradient(-90deg, #8AC649, #49C66C);  
            }
        }
    }

    .open-eggs {
        margin-top: 60px;
        &>h3 {
            color: #fff;
            margin-bottom: 20px;
            width: 120px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            background: #404040;
            border-bottom: 4px solid #61C65F;
        }
    }
}   
.points {
    margin-top: 60px;
    h2 {
        @include section-title()
    }
    &>p {
        margin-top: 20px;
        margin-bottom: 20px;
        text-indent: 2em;
        color: #fff;
    }
    .box {
        display: flex;
        height: 120px;
        background: #3D3D3D;
        .column {
            flex: 1 1 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p {
                margin: 0;
                font-size: 12px;
                text-align: center;
                color: #fff;
            }
        }
    }
}

.buyback {
    margin-top: 60px;
    margin-bottom: 25px;
    h2 {
        @include section-title();
    }
    &>p {
        margin-top: 20px;
        margin-bottom: 20px;
        text-indent: 2em;
        color: #fff;
    }
    .box {
        display: flex;
        height: 120px;
        background: #3D3D3D;
        .column {
            flex: 1 1 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p {
                margin: 0;
                font-size: 12px;
                text-align: center;
                color: #fff;
            }
        }
    }
}