.wthdrawModal{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    z-index:9999
}
.wthdrawModal-content{
    padding:11px ;
    margin: auto;
    width: 916px;
    height: 498px;
    background-image: url(../../../../../assets/images/mountain/asset-j1.png);
    background-position: -20px -11px;
    background-size: 956px 852px;
    position: relative;
    .close-btn{
        position: absolute;
        right: 0;
        top: 0;
        width: 170px;
        height: 170px;
    }
    .title{
        padding-top: 69px;
        padding-bottom: 32px;
        text-align: center;
        font-size: 40px;
        font-family: Microsoft YaHei !important;
        font-weight: 800;
        color: #FFFFFF;
    }
    .wthdrawModal-body{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        button{
            position: absolute;
font-size: 26px;
font-family: Microsoft YaHei;
font-weight: 800;
color: #95560F;
        }
        .amount-btn{
            border: none;
            width: 172px;
            height: 73px;
            background-image: url(../../../../../assets/images/mountain/asset-t609.png) ;
            background-position: -5px -2px;
            border-radius: 37px;
            left: 37px;
        }
        .max-btn{
            width: 172px;
            height: 73px;
            border-radius: 37px;
            background-image: url(../../../../../assets/images/mountain/asset-max.png) ;
            background-position: -7px -2px;
            border: none;
            right: 37px;
        }
        input{
            border: none;
            outline: none;
            font-size: 40px;
            font-family: Microsoft YaHei !important;
            font-weight: 800;
            color: #804809;
            background-color: transparent;
            height: 100%;
            width: 328px;
        }
        .input-box{
            height: 72px;
            width: 561px;
            padding: 0 110px;
            background-image: url(../../../../../assets/images/mountain/asset-t610.png) ;
            background-size:561px 74px;
        }
    }
    .black-cal{
        background-image: url('../../../../../assets/images/activity/img-b.png');
        margin-top: 115px;
        height: 70px;
        border-bottom: 11px solid #839A51;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-left: 11px solid #839A51;
        border-right: 11px solid #839A51;
        width: 915px;
        position:absolute;
        left: 1px;
    }
}