.DragonList {
    width: 100%;
    background-color: #E8DBB8;
    margin-bottom: 7.8125vw  /* 150/19.2 */;
    > .DragonList-list {
        display: flex;
        flex-wrap: wrap;

        > .DragonList-list-item {
            width:calc(100% / 6);
            height: 9.427vw  /* 181/19.2 */;
            background: url("../images/itemBgYellowAdd.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 1.042vw  /* 20/19.2 */;
            cursor: pointer;

            > .DragonList-list-item-dragon {
                width: 4.792vw  /* 92/19.2 */;
                height: 6.40625vw  /* 123/19.2 */;
                background: url("../../../assets/images/dragon.png") no-repeat;
                background-size: 100% 100%;
            }

            > .DragonList-list-item-count {
                width: 100%;
                position: absolute;
                bottom: -1.042vw  /* -20/19.2 */;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 800;
                color: #4A412F;
                text-align: center;
            }

            >.DragonList-list-item-time {
                width: 75%;
                height: 1.667vw  /* 32/19.2 */;
                text-align: center;
                line-height: 1.979vw  /* 38/19.2 */;
                background-color: #FB6C47;
                font-size: 0.9375vw  /* 18/19.2 */;
                color: #fff;
                font-weight: 900;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 1.5625vw  /* 30/19.2 */;
            }

            &.DragonList-list-item-active {

            }
        }
    }

    > .DragonList-btn {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        bottom: 3%;
        > .DragonList-btn-select {
            width: 10.417vw  /* 200/19.2 */;
            height: 5.208vw  /* 100/19.2 */;
            background: url("../images/yellowBtn.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.083vw  /* 40/19.2 */;
            font-weight: bold;
            color: #95560F;
            cursor: pointer;
        }

        > .DragonList-btn-cancel {
            width: 10.417vw  /* 200/19.2 */;
            height: 5.208vw  /* 100/19.2 */;
            background: url("../images/cancelBtn.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.083vw  /* 40/19.2 */;
            font-weight: bold;
            color: #0F5195;
            cursor: pointer;
        }
    }
}