.DragonInfo {
    width: 100%;
    background-color: #E8DBB8;
    margin-bottom: 3.125vw;
    padding-top: 1.042vw  /* 20/19.2 */;

    > .DragonInfo-common {
        > .DragonInfo-common-top {
            display: flex;
            align-items: center;
            justify-content: center;

            > .DragonInfo-common-top-left {
                font-size: 26px;
                color: #804809;
                font-weight: 900;

                > .DragonInfo-common-top-left-t {
                    margin-top: 10px;
                }

                > .DragonInfo-common-top-left-b {

                }
            }

            > .DragonInfo-common-top-right {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 300px;
                margin-left: 2.604vw  /* 50/19.2 */;

                > .DragonInfo-common-top-right-item {
                    width: 47%;
                    height: 34px;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                }
            }
        }

        > .DragonInfo-common-image-wrapper {
            display: flex;
            justify-content: center;

            > .DragonInfo-common-image {
                margin-top: 30px;
                width: 12.24vw  /* 235/19.2 */;
                height: 16.302vw  /* 313/19.2 */;
                background: url("../../../assets/images/dragon.png") no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
            }
        }

        > .DragonInfo-common-number {
            display: flex;
            justify-content: center;
            font-size: 26px;
            font-weight: 800;
            color: #804809;
            padding: 1.5625vw  /* 30/19.2 */ 0;

            > .DragonInfo-common-r {
                margin-left: 10px;
            }
        }
    }

    > .DragonInfo-details {
        display: flex;
        padding-bottom: 1.042vw  /* 20/19.2 */;
        > .DragonInfo-details-l {
            width: 13.542vw  /* 260/19.2 */;
            text-align: center;
            padding-top: 1.042vw;

            > .DragonInfo-details-l-top {
                color: #804809;
                font-size: 20px;
                font-weight: 900;
            }

            > .DragonInfo-details-l-image-wrapper {
                margin-top: 1.042vw;
                display: flex;
                justify-content: center;
                > .DragonInfo-details-l-image {
                    width: 12.24vw  /* 235/19.2 */;
                    height: 16.302vw  /* 313/19.2 */;
                    background: url("../../../assets/images/dragon.png") no-repeat;
                    background-size: 100% 100%;
                    cursor: pointer;
                }
            }

            > .DragonInfo-details-l-level {
                display: flex;
                justify-content: center;

                > .DragonInfo-level-sign {
                    width: 6.771vw  /* 130/19.2 */;
                    height: 35px;
                    line-height: 37px;
                    border-radius: 17px;
                    color: #804809;
                    font-size: 20px;
                    font-weight: 900;
                    border: 2px solid #D04E00;
                    background: #FFD85E;;
                }
            }

            > .DragonInfo-details-l-number {
                display: flex;
                justify-content: center;
                font-size: 18px;
                font-weight: 800;
                color: #804809;
                margin: 1.042vw  /* 20/19.2 */ 0;

                > .DragonInfo-details-l-number-r {
                    margin-left: 10px;
                }
            }

            > .DragonInfo-details-l-btn {
                display: flex;
                justify-content: center;

                > .DragonInfo-buy-btn {
                    margin-top: 1.042vw;
                    margin-bottom: 1.5625vw  /* 30/19.2 */;
                    width: 9.479vw  /* 182/19.2 */;
                    height: 4.323vw  /* 83/19.2 */;
                    line-height: 4.583vw  /* 88/19.2 */;
                    background: url("./images/buy-btn.png") no-repeat;
                    background-size: 100% 100%;
                    font-size: 30px;
                    font-weight: 900;
                    color: #95560F;
                    cursor: pointer;
                }
            }
        }

        > .DragonInfo-details-r {
            flex: 1;
            width: 0;
            padding-right: 1.042vw  /* 20/19.2 */;

            > .DragonInfo-details-r-top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                > .DragonInfo-common-top-left {
                    font-size: 26px;
                    color: #804809;
                    font-weight: 900;

                    > .DragonInfo-common-top-left-t {
                        margin-top: 10px;
                    }

                    > .DragonInfo-common-top-left-b {

                    }
                }

                > .DragonInfo-common-top-right {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 15.625vw  /* 300/19.2 */;
                    margin-left: 2.604vw  /* 50/19.2 */;

                    > .DragonInfo-common-top-right-item {
                        width: 47%;
                        height: 34px;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                    }
                }
            }

            > .DragonInfo-details-r-info {
                margin-top: 1.042vw;

                > .DragonInfo-details-r-info-title {
                    font-size: 20px;
                    font-weight: 800;
                    color: #804809;
                }

                > .DragonInfo-details-r-info-body {
                    width: 100%;
                    height: 6.615vw  /* 127/19.2 */;
                    background: url("./images/infoBg.png") no-repeat;
                    background-size: 100% 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    > .DragonInfo-details-r-info-body-item {
                        text-align: center;
                        color: #fff;
                        font-weight: 900;
                        font-size: 16px;

                        > .info-body-item-num {
                            margin-top: 10px;
                        }
                    }
                }
            }

            > .DragonInfo-details-r-two {
                display: flex;
                justify-content: space-between;

                > .DragonInfo-details-r-attr {
                    width: 49%;

                    .DragonInfo-details-r-attr-title {
                        font-size: 20px;
                        font-weight: 800;
                        color: #804809;
                    }

                    .DragonInfo-details-r-attr-image {
                        width: 100%;
                        height: 8.177vw  /* 157/19.2 */;
                        background: url("./images/infoBg.png") no-repeat;
                        background-size: 100% 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        .DragonInfo-details-attr-item {
                            width: 4.375vw  /* 84/19.2 */;
                            height: 1.667vw  /* 32/19.2 */;
                            line-height: 1.823vw  /* 35/19.2 */;
                            text-align: center;
                            color: #fff;
                            font-weight: 900;
                            font-size: 16px;
                            margin-bottom: 5px;

                            &.DragonInfo-details-attr-item-active-red {
                                background: #FF0000;
                                border: 1px solid #000000;
                                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                                border-radius: 5px;
                            }

                            &.DragonInfo-details-attr-item-active-dark {
                                background: #7B0499;
                                border: 1px solid #000000;
                                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
                                border-radius: 5px;
                            }
                        }

                    }
                }

                > .DragonInfo-details-r-skill {
                    width: 49%;

                    > .DragonInfo-details-r-skill-title {
                        font-size: 20px;
                        font-weight: 800;
                        color: #804809;
                    }

                    > .DragonInfo-details-r-skill-image {
                        width: 100%;
                        height: 8.177vw  /* 157/19.2 */;
                        background: url("./images/infoBg.png") no-repeat;
                        background-size: 100% 100%;
                        display: flex;
                        //justify-content: center;
                        align-items: center;
                        padding-left: 1.042vw  /* 20/19.2 */;

                        > .DragonInfo-details-skill-img {
                            width: 3.646vw  /* 70/19.2 */;
                            height: 3.646vw  /* 70/19.2 */;
                            background: url("./images/skill.png") no-repeat;
                            background-size: 100% 100%;
                        }

                        > .DragonInfo-details-skill-text {
                            flex: 1;
                            width: 0;
                            padding-left: 10px;
                            color: #fff;
                            font-size: 0.833vw  /* 16/19.2 */;
                            font-weight: 800;
                        }
                    }
                }
            }

            > .DragonInfo-details-r-parts {
                font-size: 16px;
                font-weight: 800;
                color: #fff;

                > .DragonInfo-details-r-parts-title {
                    font-size: 20px;
                    font-weight: 800;
                    color: #804809;

                }

                > .DragonInfo-details-r-parts-image {
                    width: 100%;
                    height: 6.615vw  /* 127/19.2 */;
                    background: url("./images/infoBg.png") no-repeat;
                    background-size: 100% 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 0 10px;

                    > .DragonInfo-parts-item {
                        width: 3.90625vw  /* 75/19.2 */;
                        height: 3.229vw  /* 62/19.2 */;
                        background: url("./images/partsBg.png") no-repeat;
                        background-size: 100% 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 900;
                    }

                    > .DragonInfo-parts-item-split {
                        width: 24px;
                        height: 3px;
                        background: #A6A6A6;
                    }
                }
            }
        }
    }
}

.DragonInfo-tips-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .DragonInfo-tips-success-top {
        font-size: 35px;
        font-weight: 800;
        color: #FFFFFF;
    }

    > .DragonInfo-tips-success-middle {
        margin: 70px 0;
        width: 131px;
        height: 115px;
        background: url("./images/jiazai.png") no-repeat;
        background-size: 100% 100%;
    }

    > .DragonInfo-tips-success-bottom {
        font-size: 35px;
        font-weight: 800;
        color: #FFFFFF;
    }
}

.DragonInfo-tips-fail {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .DragonInfo-tips-fail-top {
        font-size: 35px;
        font-weight: 800;
        color: #FFFFFF;
    }

    > .DragonInfo-tips-fail-middle {
        margin: 70px 0;
        width: 141px;
        height: 124px;
        background: url("./images/failTips.png") no-repeat;
        background-size: 100% 100%;
    }

    > .DragonInfo-tips-fail-btn {
        width: 182px;
        height: 105px;
        background: url("./images/yellowBtn.png") no-repeat;
        background-size: 100% 100%;
        font-size: 35px;
        font-weight: 800;
        color: #95560F;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.DragInfo-modal.ant-modal {
      .ant-modal-content {

      }
}