
.page-header {
  .header-container {
    margin: auto;
    width: 1400px;
  }
}


.mining-layout {
  min-height: 100%;
  background: #191919;
  display: flex;
  .container {
    flex: 0 0 auto;
    margin: 0 auto ;
    width: 1400px;
    display: flex;
    .ant-layout {
      flex: 1 0 auto;
      margin-top: 25px;
      // 侧边栏
      .ant-layout-sider {
        padding-top: 40px;
        max-width: 268px;
        min-width: 268px;
        width: 268px;
        background:#2B2B2B;
        .ant-menu {
          
          .ant-menu-item {
            position: relative;
            margin: 0;
            height: 64px;
            padding: 0 40px;
            line-height: 64px;
            background:#2B2B2B;
            &::before {
              content: "";
              position: absolute;
              left: 15px;
              top: 50%;
              transform: translateY(-50%);
              width: 1em;
              height: 1em;
              border: 1px solid #fff;
              border-radius: 50%;
            }
            &.ant-menu-item-selected {
              background: #7F7F7F;
              &::before {
                background: #7F7F7F; 
              }
            } 
            &:hover {
              background: #7F7F7F;
              &::before {
                background: #7F7F7F; 
              }
            }
          }
        }
      }
      // 右侧主要内容
      .ant-layout-content {
        flex: 1 0 auto;
        min-height: auto;
        background:#7F7F7F;
      }
    }
  }
}


