.Market-wrapper {
    width: 100%;
    min-height: 1700px;
    background: url("../../assets/images/global-bg.png") no-repeat;
    background-size: 100% 100%;
    >.Market {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #424242;

        > .Market-timeTab {
            width: 100%;
            height: 122px;
            background: url("./images/timeTab.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
        }

        > .Market-timeTabBody {
            width: 100%;
            height: 289px;
            border: 80px solid;
            border-image: url("./images/border1.png") 150 repeat;
            background-size: 100% 100%;
            background-color: #505FB2;

            > .Market-timeTabBody-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                > .Market-timeTabBody-item {
                    display: flex;
                    align-items: center;

                    > .Market-timeTabBody-item-left {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                    }

                    > .Market-timeTabBody-item-right {
                        color: #fff;
                        font-size: 26px;
                        font-weight: 900;
                        margin-left: 10px;
                    }
                }
            }

        }

        > .Market-bottom {
            width: 100%;
            height: 1176px;
            position: relative;

            > .Market-bottom-topBg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 122px;
                background: url("./images/timeTab.png") no-repeat;
                background-size: 100% 100%;
                padding: 21px 84px 0;
            }

            > .Market-bottom-body {
                width: 100%;
                height: 1176px;
                background: url("./images/timeTabBody.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 0;
                left: 0;
                padding: 21px 64px 0;
                display: flex;
                flex-direction: column;

                > .Market-bottom-body-top {
                    width: 100%;
                    //height: 100%;
                }

                > .Market-bottom-body-bottom {
                    width: 100%;
                    flex: 1;
                    height: 0;
                    padding-top: 34px;
                    padding-bottom: 50px;
                    display: flex;

                    > .Market-body-left {
                        width: 180px;
                        height: 100%;
                    }

                    > .Market-body-right {
                        flex: 1;
                        width: 0;
                        height: 100%;
                        margin-left: 10px;
                        border: 10px solid;
                        border-image-source: url("./images/yello-border.png");
                        border-image-slice: 40% fill;
                        border-image-repeat: stretch;
                        border-image-width: 50px;
                        //background: url("./images/yello-border.png") no-repeat;
                        //background-size: 100% 100%;
                        padding: 0 20px;
                        //display: flex;
                        //flex-direction: column;
                        > .Market-body-right-title {
                            display: flex;
                            align-items: center;

                            > .Market-body-right-number {
                                color: #fff;
                                font-size: 44px;
                                font-weight: 900;
                                vertical-align: middle;
                            }
                        }

                        > .Market-dragon-list {
                            height: 860px;
                            width: 100%;
                            //display: flex;
                            //justify-content: space-between;
                            //flex-wrap: wrap;
                            > .Market-dragon-list-item {
                                float: left;
                                width: 20%;
                                height: 209px;
                                background: url("./images/listItemBg.png") no-repeat;
                                background-size: 100% 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;

                                > .dragon-bg {
                                    width: 106px;
                                    height: 142px;
                                    background: url("./images/long.png") no-repeat;
                                    background-size: 100% 100%;
                                }
                            }
                        }

                        > .Market-dragon-pagination {
                            > .CustomPagination {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}