.ant-carousel {
    h3 {
        margin-bottom: 0;
    }
}

#activityActivity {
    
    
    .ore-pool {
        width: 833px;
        height: 100%;
        border: 5px solid;
        padding: 30px;
        z-index: 9;
        border-image: url(../../../assets/images/border.png);
        border-image-slice: 140 49%;
        border-image-width: 140px 150px;
        padding: 10px 5px;
        background-color: #282828 ;
        // background: url(../../../assets/images/assets01.png) no-repeat center 0 / 100% 120px,
        //     linear-gradient(#424242, #424242) no-repeat 0 120px / 100% 600px,
        //     linear-gradient(#CC9C47, #CC9C47);
        background-clip: padding-box;
        // margin-top: 25px;
        // margin-left: 5px;
        // .assets-title {
        //     padding-left: 60px;
        //     color: #fff;
        //     font-size: 44px;
        //     font-weight: 800;
        //     height: 110px;
        //     text-align: left;
        //     line-height: 90px;

        // }
        .ore-pool-content {
            // padding: 10px;
            padding-top: 30px;
            // padding-left: 10px;
            // width: 1200px;


            .ore-pool-content-inner {
                display: flex;
                // border: 5px solid;
                margin: 15px;
                padding: 25px 35px;
                width: 373.2px;
                height: 185.3px;
                align-items: center;
                border-image-source: url(../../../assets/images/activity/border.png);
                border-image-slice: 49% fill;
                border-image-width: 50px;
                border-image-repeat: stretch;

                .ore-pool-content-inner-item {
                    display: flex;
                    justify-content: space-between;

                    .ore-pool-content-inner-a {
                        width: 150px;
                        height: 150px;
                        margin-top: -8px;
                        margin-left: -17px;
                        border-image: url(../../../assets/images/activity/fang.png);
                        border-image-slice: 49% fill;
                        border-image-width: 50px;
                        border-image-repeat: stretch;
                    }

                    .ore-pool-content-inner-col{
                        
                    }
                    .ore-pool-content-inner-b {
                        width: 182.1px;
                        height: 84.3px;
                        padding: 17px;
                        padding-top: 10px;
                        // margin-left: 10px;
                        margin-top: -12px;
                        color: #FFFFFF ;
                        font-size: 13.61px;
                        // margin-top: -32px;
                        // margin-left: -30px;
                        border-image: url(../../../assets/images/activity/rounded1.png);
                        border-image-slice: 49% fill;
                        border-image-width: 50px;
                        border-image-repeat: stretch;
                    }

                    .ore-pool-content-inner-btn1 {
                        
                        width: 155px;
                        height: 71px;
                        font-size: 26px;
                        font-weight: 800;
                        color: #95560F;
                        text-align: center;
                        line-height: 60px;
                        // margin-top: 5px;
                        border: 5px solid;
                        border-image-source: url(../../../assets/images/activity/button1.png);
                        border-image-slice: 10 16 22 fill;
                        border-image-width: 8px 15px 19px;
                    }

                    .assets-content-inner-btn2 {
                        margin-top: 30px;
                        width: 348px;
                        height: 100px;
                        font-size: 26px;
                        font-weight: 800;
                        color: #95560F;
                        text-align: center;
                        line-height: 80px;
                        border: 5px solid;
                        border-image-source: url(../../../assets/images/asset-btn2.png);
                        border-image-slice: 10 16 22 fill;
                        border-image-width: 10px 16px 22px;
                    }

                    .assets-content-inner-address {
                        margin-top: 20px;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .assets-content-inner-table {
                        width: 100%;
                        margin: 0 20px 0 40px;
                        font-size: 26px;
                        font-weight: 700;

                        tr {
                            display: flex;
                            margin-bottom: 22px;
                            color: #B3B3B3;

                            &:first-child {
                                color: #fff;
                            }

                            td {
                                flex: 1 1 0;

                                &:last-child {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dragon {
        margin-top: 20px;

        .ant-tabs {

            // 选项卡到导航
            .ant-tabs-nav {
                margin-bottom: 0;
                height: 120px;
                line-height: 120px;
                background: url(../../../assets/images/assets02.png) no-repeat center / 100% 100%;

                &::before {
                    display: none;
                }

                .ant-tabs-nav-wrap {
                    .ant-tabs-nav-list {
                        padding: 20px 0;

                        .ant-tabs-tab {
                            padding: 0 20px;
                            margin: 0;
                            font-size: 26px;
                            font-weight: 800;
                            align-items: flex-start;

                            color: #4C4434;
                            border: 5px solid;
                            border-image-source: url(../../../assets/images/asset-btn4.png);
                            border-image-slice: 12 15 26 fill;
                            border-image-width: 12px 15px 26px;

                            .ant-tabs-tab-btn {
                                line-height: 60px;
                                user-select: none;

                                &:active {
                                    color: #4C4434;
                                }
                            }

                            &.ant-tabs-tab-active {
                                border-image-source: url(../../../assets/images/asset-btn3.png);

                                .ant-tabs-tab-btn {
                                    color: #4C4434;
                                }

                            }
                        }

                        .ant-tabs-ink-bar {
                            display: none;
                        }
                    }
                }

            }

            // 选项卡内容
            .ant-tabs-content-holder {
                .ant-tabs-content {
                    .ant-tabs-tabpane {
                        &:first-child {
                            .dragon-content {
                                display: flex;
                                flex-wrap: wrap;
                                padding: 20px 15px 70px;

                                .dragon-item {
                                    margin-bottom: 10px;
                                    width: 252px;
                                    height: 315px;
                                    background: url(../../../assets/images/assets03.png) no-repeat;

                                    .dragon-item-img {
                                        padding-top: 30px;
                                        height: 220px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    .dragon-item-content {
                                        margin: 0 30px;
                                        height: 50px;
                                        text-align: center;
                                        font-size: 20px;
                                        font-weight: 800;
                                        line-height: 1.2em;
                                        color: #fff;
                                        background: linear-gradient(0deg, #F28E26, #FD644F);
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

    }
}