

.page-header {
  .header-container {
    margin: auto;
    width: 1400px;
  }
}


.mining-layoutList {
  min-height: 100%;
  background: #191919;
  display: flex;
  .container {
    flex: 0 1 auto;
    margin: 0 auto ;
    width: 1400px;
    display: flex;
    .ant-layout {
      flex: 0 1 auto;
      margin-top: 25px;
      // 侧边栏
      .ant-layout-sider {
        max-width: 268px;
        min-width: 268px;
        width: 268px;
        background:#2B2B2B;
        .topbar {
          height: 104px;
          background: #4AC66B;
        }
        .ant-menu {
          .ant-menu-item {
            position: relative;
            margin: 0;
            height: 64px;
            padding: 0 40px;
            line-height: 64px;
            background:#2B2B2B;
            &::before {
              content: "";
              position: absolute;
              left: 15px;
              top: 50%;
              transform: translateY(-50%);
              width: 1em;
              height: 1em;
              background: #61C65F;
              border-radius: 50%;
            }
            &.ant-menu-item-selected {
              background: #3D3D3D;
              text-align: center;
            } 
            &:hover {
              background: #3D3D3D;
            }
          }
        }
      }
      // 右侧主要内容
      .ant-layout-content {
        flex: 1 1 auto;
        min-height: auto;
        background:#242424;
      }
    }
  }
}

#dashboardList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
   width: 1000px;
    .ant-tabs-nav {
        margin: 0;
        &::before {
            border-bottom: none;
        }

        .ant-tabs-tab {
            line-height: 42px;
            height: 42px;
            padding:0 25px;
            color: #fff;
            &.ant-tabs-tab-active {
                background: #404040;
                .ant-tabs-tab-btn {
                    
                    color: #fff;
    
                }
            }
        }
        .ant-tabs-ink-bar {
            
            background: #61C65F;
        }
        
    }
	
    .ant-tabs-content-holder {
        // padding: 40px 90px;
        .dragons {
			// padding: 40px 90px;
			
            header {
				margin-left: 320px;
                height: 60px;
                display: flex;
                justify-content: space-between;
                .header-title {
                    display: flex;
                    align-items: center;
                    h2 {
                        margin: 0;
                        font-size: 40px;
                        line-height: 60px;
                        color: #fff;
                        font-weight: 700;
                    }
                    .ant-select {
                        margin-left: 40px;
                    }
                }
                .header-select {
                    display: flex;
                    align-items: center;
                    .ant-select:first-of-type {
                        margin-right: 16px;
                    }
                }
                .ant-select {
                    width: 115px;
                    height: 36px;
                    background: #191919;
                    border: 1px solid #404040;
                    .ant-select-selector {
                        background: #191919;
                        color: #fff;
                    }
                }
            }
			
            .dragon-list {
				
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    width: 165px;
                    height: 220px;
                    background: #3D3D3D;
                    display: flex;
                    margin:15px 7px;
                    span {
                        text-align: center;
                        margin: auto;
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
.cholf{
	display: flex;
	margin-top: -60px;
					// padding:0 0;
		}
.chocn{
	width: 656px;
	height: auto;
	background: #3D3D3D;
		}
.cholist{
		margin: 60px 60px 0;
		}

				
    // 我的龙列表

    // 分页
    .page {
        margin-bottom: 36px;
        height: 26px;
        line-height: 26px;
        display: flex;
        justify-content: center;
        .page-btn {
            width: 38px;
            // height: auto;
            background: rgba(224, 224, 224, 0);
            border: 1px solid #E0E0E0;
        }
        .current {
            margin-left: 22px;
            width: 38px;
            text-align: center;
            color: #fff;
            background: rgba(224, 224, 224, 0);
            border: 1px solid #E0E0E0;
        }
        .total-page {
            margin-left: 6px;
            margin-right: 22px;
            color: #808080;
        }
        
    }
    
}

.filter-textlf{
	display:inline;
	font-size: 22px;
	margin-top: 42px;
	margin-left: 30px;
	color: #FFFFFF;
}
.btnlf{
	text-align: center;
	display:inline;
	font-size: 15px;
	color: #4DC66A;
	margin-top: 45px;
	margin-left: 12px;
}	
.txt-le{
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 30px;
}
.checkbox-le{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	color: #FFFFFF;
}



#dashboardList {
    // padding: 80px 90px;

    .mining-header {
        display: flex;
        .header-item {
            width: 50%;
            h2 {
                margin: 0;
                font-size: 50px;
                color: #fff;
                font-weight: 700;
            }
            .content {
                margin-top: 30px;
                display: flex;
                align-items: center;
                .content-left {
                    font-size: 40px;
                    color: #fff;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        width: 82px;
                        height: 82px;
                        background: #C9702C;
                        border-radius: 50%;
                    };
                }
                .content-right {
                    margin-left: 60px;
                    p {
                        margin: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
    
    .mining-animation {
        margin-top: 30px;
        text-align: center;
        line-height: 342px;
        font-size: 20px;
        color: #fff;
        height: 342px;
        background: #3D3D3D;
    }
    .mining-row {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        height: 250px;
    }
    .mining-input {
        width: 228px;
        background: #3D3D3D;
    }
    .mining-rate {
        width: 699px;
        background: #3D3D3D;
    }
}